* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #232323;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #e1e1e1;
}

main {
  padding: 2rem;
  text-align: center;
}

h1 {
  margin-bottom: 2rem;
}

.days {
  display: flex;
  gap: 2rem;
  padding-bottom: 2rem;
  flex-wrap: wrap;
}

.day {
  flex: 1 0 20rem;
  border: 2px solid #e1e1e1;
  border-radius: 1rem;
}


.day h2 {
  border-bottom: 1px solid #e1e1e1;
  width: 80%;
  margin: 0 auto;
  line-height: 3;
}

.day li {
  font-size: 1.2rem;
}

.done {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 1rem;
}

.done label {
  color: #6a6464;
  text-decoration: line-through;
  margin-left: 1rem;
  font-size: 1.2rem;
}

.done input {
  background-color: wheat;
}

.x {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 1rem;
}

.x label {
  margin-left: 1rem;
  font-size: 1.2rem;
}

.addButton {
  background-color: #06d6a0;
  color: #232323;
  padding: 0.3rem 1.9rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  margin: 1rem auto;
  cursor: pointer;
  transition: 0.4s all ease;
}

.removeButton {
  background-color: #ef233c;
  color: #e1e1e1;
  padding: 0.3rem 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.4s all ease;
}

.addButton:hover,
.removeButton:hover {
  transition: 0.4s all ease;
  margin-right: 0.3rem;
}